.pandImg {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.panda {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}